.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

path.area {
    fill-opacity: 0.3;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.tick line {
    stroke-dasharray: 2, 2;
    opacity: 0.1;
}
